extends layout

block content
    .container
        // small cards
        .row
            .col-md-4
                .card
                    .card-content
                        .card-header-blue
                            h1.card-heading Card Header Blue
                        .card-body
                            p.card-p
                                | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                                | or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there
                                | isn't anything embarrassing hidden in the middle of text.
                        nav.nav-tabs
                            ul.nav.nav-pills.pull-left
                                li.card-action
                                    a(href='#') Link
                                li.card-action
                                    a(href='#') Link
                                li.card-action
                                    a(href='#') Link
                                li.card-action
                                    a(href='#') Link
            .col-md-4
                .card
                    .card-content
                        .card-header-orange
                            h1.card-heading Card Header Orange
                        .card-body
                            p.card-p
                                | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                                | or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there
                                | isn't anything embarrassing hidden in the middle of text.
                        nav.nav-tabs
                            ul.nav.nav-pills.pull-left
                                li
                                    a.card-action-orange(href='#') Link
                                li
                                    a.card-action-orange(href='#') Link
                                li
                                    a.card-action-orange(href='#') Link
                                li
                                    a.card-action-orange(href='#') Link
            .col-md-4
                .card
                    .card-content
                        .card-header-grey
                            h1.card-heading Card Header Grey
                        .card-body
                            p.card-p
                                | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                                | or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there
                                | isn't anything embarrassing hidden in the middle of text.
                        nav.nav-tabs
                            ul.nav.nav-pills.pull-left
                                li
                                    a.card-action-grey(href='#') Link
                                li
                                    a.card-action-grey(href='#') Link
                                li
                                    a.card-action-grey(href='#') Link
                                li
                                    a.card-action-grey(href='#') Link
        // row two
        .row
            .col-md-4
                .card
                    .card-content
                        .card-header-pink
                            h1.card-heading Card Header Pink
                        .card-body
                            p.card-p
                                | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                                | or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there
                                | isn't anything embarrassing hidden in the middle of text.
                        nav.nav-tabs
                            ul.nav.nav-pills.pull-left
                                li
                                    a.card-action-pink(href='#') Link
                                li
                                    a.card-action-pink(href='#') Link
                                li
                                    a.card-action-pink(href='#') Link
                                li
                                    a.card-action-pink(href='#') Link
            .col-md-4
                .card
                    .card-content
                        .card-header-red
                            h1.card-heading Card Header Red
                        .card-body
                            p.card-p
                                | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                                | or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there
                                | isn't anything embarrassing hidden in the middle of text.
                        nav.nav-tabs
                            ul.nav.nav-pills.pull-left
                                li
                                    a.card-action-red(href='#') Link
                                li
                                    a.card-action-red(href='#') Link
                                li
                                    a.card-action-red(href='#') Link
                                li
                                    a.card-action-red(href='#') Link
            .col-md-4
                .card
                    .card-content
                        .card-header
                            h1.card-heading Card Header Blank
                        .card-body
                            p.card-p
                                | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,
                                | or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there
                                | isn't anything embarrassing hidden in the middle of text.
                        nav.nav-tabs
                            ul.nav.nav-pills.pull-left
                                li.card-action
                                    a(href='#')
                                        span
                                            i.fa.fa-facebook
                                li.card-action
                                    a(href='#')
                                        span
                                            i.fa.fa-google-plus
                                li.card-action
                                    a(href='#')
                                        span
                                            i.fa.fa-share-alt
                                li.card-action
                                    a(href='#')
                                        span
                                            i.fa.fa-plus

