extends layout

block content
    .container
        // small cards
        .row
            each contract in c
                .col-md-3
                    .card
                        .card-content
                            .card-header-blue
                                h1.card-heading
                                    | #{contract.name}
                            .card-body
                                p.card-p
                                    | #{contract.description}
                            nav.nav-tabs
                                ul.nav.nav-pills.pull-left
                                    li.card-action
                                        a(href='#') Contract Address
                                    li.card-action
                                        a(href='#') Owner Address

